---
import type { HTMLAttributes } from 'astro/types'
import { twMerge } from 'tailwind-merge'

interface Props extends HTMLAttributes<'button'> {
  variant?: 'primary' | 'secondary' | 'tertiary'
}

const { variant } = Astro.props

const variantClasses = {
  primary: 'bg-primary/50',
  secondary: 'bg-neutral-700/50 ',
  tertiary: 'bg-neutral-800',
} as const
---

<div></div>
