---
interface Props {
  platform: string
  username: string
}

/* 
    If your component takes no props or slotted content, you can use type Props = Record<string, never>.
    If your component must be passed children to its default slot, you can enforce this by using type Props = { children: any; };.
    
    import type { HTMLAttributes } from 'astro/types'
    type Props = HTMLAttributes<'a'>;
*/

const { platform, username } = Astro.props
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>
