@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'clvtc';
  src: url('/fonts/clvtc.otf') format('opentype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url(@fontsource/inter/files/inter-latin-400-normal.woff2) format('woff2'),
    url(@fontsource/inter/files/inter-latin-400-normal.woff2) format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    url(@fontsource/inter/files/inter-latin-700-normal.woff2) format('woff2'),
    url(@fontsource/inter/files/inter-latin-700-normal.woff2) format('woff');
}

@layer components {
  .bg-gradient-blend::before {
    @apply absolute left-0 top-0 h-full w-full;
    content: '';
    background: linear-gradient(
      to bottom,
      transparent 0%,
      theme('colors.surface.700') 100%
    );
  }

  .shine {
    border-top: 0.5px solid rgba(255, 255, 255, 0.2);
    background-image: linear-gradient(to bottom, #ffffff08, #fff0);
  }
}
