---
import '@fontsource/la-belle-aurore'
import '../index.css'
import 'animate.css'
import { SEO } from 'astro-seo'
import metaImg from '../assets/cover.png'
import iaWriterMono from '@fontsource/ia-writer-mono/files/ia-writer-mono-latin-400-normal.woff2?url'

interface Props {
  title: string
}

import { ViewTransitions } from 'astro:transitions'
import Navigation from '../components/Navigation.astro'
import { Dock } from '../components/Dock/Dock'
const { title } = Astro.props
---

<html lang='en' class='overflow-x-hidden bg-surface-800 text-surface-50'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <link
      rel='preload'
      as='font'
      type='font/woff2'
      href={iaWriterMono}
      crossorigin='anonymous'
    />
    <ViewTransitions fallback='animate' />
    <SEO
      title={title}
      description='Systems Engineer and Full Stack Web Developer'
      openGraph={{
        basic: {
          title: title,
          type: 'website',
          image: metaImg.src,
        },
      }}
      twitter={{
        creator: '@sebastianwd',
      }}
      extend={{
        link: [{ rel: 'icon', href: '/favicon.ico' }],
        meta: [
          {
            name: 'twitter:image',
            content: metaImg.src,
          },
          { name: 'twitter:title', content: title },
          {
            name: 'twitter:description',
            content: 'Systems Engineer and Full Stack Web Developer',
          },
        ],
      }}
    />
  </head>
  <body class='container mx-auto lg:max-w-5xl'>
    <main class='overflow-clip'>
      <slot />
      <Dock client:only='react' />
    </main>
  </body>
</html>
